---
import { getCollection } from "astro:content";
import AchievementsCarousel from "../certificates/AchievementsCarousel.tsx";
import SectionHeader from "../SectionHeader.astro";

const achievements = (await getCollection("achievements")).sort(
  (a, b) => a.data.order - b.data.order
);
---

<section class="flex flex-col gap-6 scroll-mt-32" id="achievements">
  <SectionHeader title="Certificados y cursos" />
  <div class="w-full">
    <AchievementsCarousel client:load achievements={achievements}  />
  </div>
</section>
