---
import { GitHubLogoIcon } from "@radix-ui/react-icons";
import { Button } from "../ui/button";
import { ArrowRight, Download } from "lucide-react";
---

<section
  class="flex flex-col items-center justify-center gap-4 pb-8 pt-6 md:pb-12 md:pt-10 lg:py-32 relative"
  id="home"
>
  <!-- Logo -->
  <div class="absolute opacity-5 -z-10 w-full max-w-60 mx-auto">
    <svg
      viewBox="0 0 78 127"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.6602 22.6126L31.0114 33.5958V100.787L10.6602 89.158V22.6126Z"
      ></path>
      <path
        d="M4.19946 94.3262L14.8596 105.858V126.307L0 105.858L4.19946 94.3262Z"
      ></path>
      <path
        d="M57.5002 40.3797L70.4217 32.3038V73.6523L57.5002 65.8995V40.3797Z"
      ></path>
      <path
        d="M36.8259 57.5005L77.5284 84.6355L65.8991 94.9727L36.8259 78.8209V57.5005Z"
      ></path>
      <path
        d="M24.5507 -6.10352e-05L70.0987 27.781L55.2391 38.4412L24.5507 21.3203V-6.10352e-05Z"
      ></path>
      <path
        d="M19.3823 106.737L68.4838 91.7421L77.5288 104.663L19.3823 126.63V106.737Z"
      ></path>
      <path
        d="M60.7306 94.762L77.5284 84.6353V104.664L60.7306 94.762Z"
      ></path>
    </svg>
  </div>
  <a
    class="inline-flex items-center rounded-lg bg-white px-3 py-1 text-sm font-medium border border-gray-100 hover:border-gray-300 transition-colors duration-200"
    href="https://github.com/Benjahzz"
    target="_blank"
    rel="noopener noreferrer"
  >
    <GitHubLogoIcon className="h-4 w-4 mr-2" />
    Sígueme en GitHub
  </a>
  <h1
    class="text-center text-3xl font-bold leading-tight tracking-tighter md:text-6xl lg:leading-[1.1]"
  >
    Hola, soy Benjamin
    <br />
    Ingeniero de Software
  </h1>
  <p
    class="max-w-[750px] text-center text-lg text-muted-foreground sm:text-xl"
  >
    Especializado en desarrollo web full-stack con experiencia en aplicaciones web eficientes y escalables.
  </p>
  <div class="flex gap-4 flex-wrap justify-center ">
    <a href="#contact">
      <Button>
        Contáctame
        <ArrowRight className="ml-2 h-4 w-4" />
      </Button>
    </a>
    <Button variant="outline">
      Descargar CV
      <Download className="ml-2 h-4 w-4" />
    </Button>
  </div>
</section>
