---
import { ArrowRight } from "lucide-react";
import PostCard from "../posts/PostCard.astro";
import SectionHeader from "../SectionHeader.astro";
---

<section class="flex flex-col gap-6">
  <SectionHeader
    title="Blog"
    dataLink={{ title: "Ver todos los artículos", url: "/articulos" }}
  />
  <div class="flex justify-between gap-4">
    <PostCard />
    <PostCard />
    <PostCard />
  </div>
</section>
