---
import PostCard from "../posts/PostCard.astro";
import SectionHeader from "../SectionHeader.astro";
---

<section class="flex flex-col gap-6">
  <SectionHeader
    title="Blog"
    dataLink={{ title: "Ver todos los artículos", url: "/articulos" }}
  />
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <PostCard />
    <PostCard />
    <PostCard />
  </div>
</section>
