---
import Layout from "../layouts/Layout.astro";
import ProjectSection from "@/components/sections/ProjectSection.astro";
import ExperienceSection from "@/components/sections/ExperienceSection.astro";
import MainSection from "@/components/sections/MainSection.astro";
import AboutSection from "@/components/sections/AboutSection.astro";
import CertificateSection from "@/components/sections/CertificateSection.astro";
---

<Layout>
  <main class="flex flex-col gap-40">
    <MainSection />
    <AboutSection />
    <ProjectSection />
    <ExperienceSection />
    <CertificateSection />
  </main>
</Layout>
