---
import MainSection from "@/components/sections/MainSection.astro";
import Layout from "../layouts/Layout.astro";
import PostSection from "@/components/sections/PostSection.astro";

---

<Layout>
  <main>
    <MainSection />
    <PostSection />
  </main>
</Layout>
