---
import { Mail } from "lucide-react";
import {
  GitHubLogoIcon,
  LinkedInLogoIcon,
  TwitterLogoIcon,
} from "@radix-ui/react-icons";
import { Button } from "./ui/button";
import Container from "./Container.astro";
---

<section class="bg-primary p-20 pb-8 text-white mt-20">
  <Container tag="section" className="flex flex-col gap-8 ">
    <h2 class="text-2xl">Contacto</h2>
    <p>
      Seasoned Full Stack Software Engineer with over 8 years of
      hands-on experience in designing and implementing robust,
      scalable, and innovative web solutions. Adept at leveraging a
      comprehensive skill set encompassing front-end and back-end
      technologies
    </p>
    <a
      href="mailto:ben.ja07@live.cl"
      class="flex gap-2 items-center font-bold"
    >
      <Mail />
      ben.ja07@live.cl
    </a>
    <div class="flex gap-4 items-center">
      <GitHubLogoIcon className="w-8 h-8" />
      <LinkedInLogoIcon className="w-8 h-8" />
      <TwitterLogoIcon className="w-8 h-8" />
    </div>
  </Container>
</section>
