---
import { Mail } from "lucide-react";
import {
  GitHubLogoIcon,
  LinkedInLogoIcon,
  TwitterLogoIcon,
} from "@radix-ui/react-icons";
import { Button } from "./ui/button";
import Container from "./Container.astro";
---

<section class="bg-primary p-20 pb-8 text-white mt-20">
  <Container
    tag="section"
    className="flex flex-col gap-8 items-center"
  >
    <h2 class="text-2xl">Get in Touch</h2>
    <p>
      I'm always open to new opportunities and collaborations. Feel
      free to reach out!
    </p>
    <div class="flex gap-4 items-center">
      <GitHubLogoIcon className="w-8 h-8" />
      <LinkedInLogoIcon className="w-8 h-8" />
      <TwitterLogoIcon className="w-8 h-8" />
    </div>
    <Button variant={"secondary"}>
      <Mail size={20} />
      Contact Me
    </Button>
    <p>
      &copy; {new Date().getFullYear()} Portfolio Benjamin Bastidas
    </p>
  </Container>
</section>
