---
import MobileNavbar from "./MobileNavbar";
import ToggleTheme from "./ToggleTheme";
import {NAV_LINKS} from "@/constants";
---

<header class="flex justify-between py-8 items-center">
  <nav>
    <ul class="gap-5 text-base hidden md:flex">
      {
        NAV_LINKS.map((link) => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))
      }
    </ul>
    <MobileNavbar client:load />
  </nav>
  {/* Mobile Menu */}
  <ToggleTheme client:load />
</header>
