---
import { ArrowRight } from "lucide-react";

interface Props {
  title: string;
  dataLink?: {
    title: string;
    url: string;
  };
}

const { title, dataLink } = Astro.props;
---

<div class="flex justify-between items-center">
  <h2 class="text-2xl font-bold">{title}</h2>
  {
    dataLink && (
      <a
        href={dataLink.url}
        class="flex items-center gap-2 text-sm text-gray-500 hover:text-gray-700"
      >
        {dataLink.title}
        <ArrowRight size={16} />
      </a>
    )
  }
</div>
