---

import "@/styles/globals.css";
import MainHead from "../components/MainHead.astro";
import Navbar from "@/components/Navbar.astro";
import "@fontsource-variable/heebo";
import Footer from "@/components/Footer.astro";
import Container from "@/components/Container.astro";

// Component Imports

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <Container>
      <Navbar />
      <slot />
    </Container>
    <Footer />
  </body>
</html>

<style>
  body {
    font-family: "Heebo Variable", sans-serif;
    color: #21243d;
  }
</style>

<script is:inline>
  const getThemePreference = () => {
    if (
      typeof localStorage !== "undefined" &&
      localStorage.getItem("theme")
    ) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"](
    "dark"
  );

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark =
        document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>
