---

import "@/styles/globals.css";
import MainHead from "../components/MainHead.astro";
import Navbar from "@/components/Navbar.astro";
import "@fontsource-variable/heebo";
import Footer from "@/components/Footer.astro";
import Container from "@/components/Container.astro";
import Analytics from '@vercel/analytics/astro'

// Component Imports

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <Container>
      <Navbar />
      <slot />
    </Container>
    <Footer />
  </body>
</html>

<style>
  body {
    font-family: "Heebo Variable", sans-serif;
    color: #21243d;
  }
</style>
